.main {
    width: 1366px;
    height: 768px;
    border: 3px solid rgba(56,68,125,0.7);
    border-radius: 18px;
    margin: auto;
    background: linear-gradient(180deg, rgba(43,250,244,1) 0%, rgba(15,173,255,1) 76%, rgba(34,161,255,1) 100%);
}
.atbkop {
    position: relative;
    width: 600px;
    height: 400px;
    top: 300px;
    left: 400px;
    border-radius: 30px;
    box-shadow: 13px 14px 40px 4px rgba(0,0,0,0.35);
    background: linear-gradient(180deg, rgba(251,189,89,1) 0%, rgba(251,163,55,1) 52%, rgba(255,108,34,1) 100%);
    padding: 0;
}
.atbkoptop {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 580px;
    height: 380px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(255,108,34,1) 0%, rgba(251,163,55,1) 80%, rgba(251,189,89,1) 100%);
}
body {
    background: url(pattern.png);
    }